<%- include('./partials/_header.ejs') %>
<link rel="stylesheet" href="styles/page-user.css">
<%- include('./partials/_navbar.ejs') %>

<div class="container--login">
  <%- include('./partials/_sideMenu.ejs') %>

  <div class="main--content">
    <% switch (data.page) {
      case 'Profile': %>
        <%- include('./partials/user/_profile.ejs') %>
        <% break; %>
      <% case 'Cards': %>
        <%- include('./partials/user/_card.ejs') %>
        <% break; %>
      <% case 'Bookings': %>
        <%= data.page %>
        <% break; %>
      <% case 'Invoices': %>
        <%= data.page %>
        <% break; %>
      <% case 'Staff': %>
        <%- include('./partials/user/_staff.ejs') %>
        <% break; %>
      <% case 'Services': %>
        <%= data.page %>
        <% break; %>
      <% case 'Sdd': %>
        <%= data.page %>
        <% break; %>
      <% case 'Users': %>
      <%- include('./partials/user/_users.ejs') %>
        <% break; %>
      <% case 'Clients': %>
      <%- include('./partials/user/_clients.ejs') %>
        <% break; %>
      <% default: %>
        <%- include('./partials/user/profile.ejs') %>
    <% } %>

    <% if (session) { %>
      <p> <%- JSON.stringify(session) %> </p>
    <% } %>
  </div>
</div>

<%- include('./partials/_footer.ejs') %>